* {
    font-family: "Oswald", open-sans;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
}

ul {
    list-style: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

h1 {
    padding-left: 30px;
}

a {
    padding: 0px;
    margin: 0px;
}

h4 {
    margin: 0px;
    padding: 0px;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

.main-header {
    display: flex;
    align-items: center;
    height: 115px;
    background: #083d77;
    border-bottom: 3px solid #90ddf0;
    color:  white;
}

.text-body {
    padding-left: 30px;
}

.filters {
    background: #f0edee;
    padding: 10px 0px 40px 20px;
    margin: 0px 50px 10px 50px;
}

.criteria {
    display: flex;
    flex-direction: row;
    height: 170px;
    align-items: left;
    margin-left: 0px;
}

.criteria-options {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    padding-right: 60px;
}

.criteria-options li {
    list-style: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.profiles {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 40px;
    justify-content: space-between;
}

.dog-profile {
    margin-bottom: 50px;
    width: 366px;
}

.dog-img {
    margin: 0 auto;
    max-width: 100%;
}

.traits {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.traits li {
    display: flex;
    align-items: center;
    background-color: #90ddf0;
    border-radius: 20px;
    padding: 0px 10px 3px 10px;
    margin-left: 0px;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 100;
}

.footer {
    display: flex;
    height: 300px;
    color: white;
}

.footer div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 100%;
    color: white;
    font-size: 42px;
}

.donate {
    background: linear-gradient(rgb(145, 135, 255, .6),rgba(145, 135, 255, .6)), center/cover url(starter_files/images/donate.jpg);
}

.volunteer {
    background: linear-gradient(rgba(145, 135, 255, .6),rgba(145, 135, 255, .6)), center/cover url(starter_files/images/volunteer.jpg);
}

.location {
    background: linear-gradient(rgba(145, 135, 255, .6),rgba(145, 135, 255, .6)), center/cover url(starter_files/images/location.png);
}
